body{
    font-family: Roboto ;
    min-height: 1000px;
    background-image: url("xmas-portrait.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    color: white;
    text-shadow: 1px 1px black;
}

h1, h3, h4{
    text-align: center;
}

h1{
    margin-bottom: 0;
}
h3{
    margin: 0;
}

h4{
    margin-top: 0.5;
    margin-bottom: 5px;
}

.countdown{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
    align-items: center;
}


.today{
    text-align: center;
    padding-bottom: 10px;
}

.time-tile{
    height: 80px;
    width: 80px;
    padding:10px;
    margin: 5px;
    border-radius: 10px;
    background-color: rgb(252, 175, 175, 0.5);
}


.time-tile p{
    border: 1px solid rgb(255, 87, 87);
    width: 40px;
    margin: auto;
    margin-top:10px;
    padding: 10px;
    border-radius: 10px;
    background-color:rgb(255, 87, 87);
    border-bottom: 2px solid rgb(209, 5, 5);
    border-right: 2px solid rgb(209, 5, 5);
}

@media (min-width:768px){

    body{
        background-image: url("xmas-landscape.jpg");
        background-position: center-bottom;
        height: 100%;
    }

    h1{
        font-size: 50px;
    }

    h4, h3, .today{
        font-size: 30px;
    }
    .countdown{
        flex-direction: row;
    }

    .time-tile{
        height: 200px;
        width: 300px;
        font-size: 3rem;
        margin: 10px;
    }

    .time-tile p{
        width: 100px;
    }
}